/* body {
  width: 3000px;
  height: 2800px;
  background-color: #ffffff;
} */

/* ctl+als+c - call colorpicker
.redtext {
  color: #ff0000;
} */

body {
  background-color: black;
}

#board {
  margin: auto;
  position: relative;
  background: url(../assets/cl.png) no-repeat;
  width: 800px;
  height: 800px;
  background-size: 800px 800px;
}

#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ff0000;
}