/* body {
  width: 3000px;
  height: 2800px;
  background-color: #ffffff;
} */

/* ctl+als+c - call colorpicker
.redtext {
  color: #ff0000;
} */

body {
  background-color: black;
}

#board {
  width: 1000px;
  height: 1000px;
  margin: auto;
  position: relative;
  background: url(../assets/cl.png) no-repeat;
}