/* css file for guess blur 
created by ivoshet in 2018 */
body {
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    font-weight: bold;
}
img {
    margin: 10px;
    border: black solid 1px;
    height: 200px;
}

#linkToMain {
    position: fixed;
    left: 0;
    top: 70%;
    background: #ff0000;
    width: 70px;
    padding: 10px;
  }

#linkToMain a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

#rules {
    position: fixed;
    right: 0;
    top: 70%;
    background: yellow;
    width: 200px;
    padding: 5px;
  }