/* css file for battleship game 
created by ivoshet in 2018 */

body {
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
}

#board {
  margin: auto;
  position: relative;
  background: url(../assets/cl.png) no-repeat;
  width: 800px;
  height: 800px;
  background-size: 800px 800px;
  
}

#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ff0000;
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

table {
  position: absolute;
  top: 40px;
  left: 40px;
  border-spacing: 0px;
}

td {
  width: 71px;
  height: 71px;
}

form {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

form input {
  font-size: 1em;
}
 
#fireButton {
  background-color: #ff0000;
  color: white;
  font-size: 1.5em;
}

.hit {
  background: url(../assets/sh2.png) no-repeat center center;
  background-size: 90%;
}

.miss {
  background: url(../assets/miss.png) no-repeat center center;
  background-size: 90%;
}

#textForUser {
  float: left;
  width: 30%;
  background-color: #ffffff00;

}

#linkToMain {
  position: fixed;
  left: 0;
  top: 50%;
  background: yellow;
  width: 70px;
  padding: 10px;
}